.profilepage{
    display: inline-flex;
    flex-direction: column;
    width: 1440px;
    height: 2200px;
    background: #F7F9FB;
}

.profilepage .navigation{
    flex:1;
    display: flex;
    border: 1px solid #F7F9FB;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(89, 120, 150, 0.06);
    border-radius: 10px;    
}
.navigation .items{ 
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #F7F9FB;
}
.navigation .search{ 
    flex: 3; 
    background-color: white;
    display: flex;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    border-left: 1px solid #F7F9FB;
}
.search .left{
    flex:2;
}
.search .leftmiddle{
    flex:1;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;  
}
.search .rightmiddle {
    flex:4;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.search .right{
    flex:1;
}
.search .searchbox{
    font-family: 'Gotham Pro';
    font-size: 16px;
    line-height: 25px;
    color: #CECECE;
    border: 0px;    
    border-radius: 10px;
}
.search img{
    width: 40px;
    height: 40px;
}
.navigation .other{
    flex: 1; 
    background-color: white;
    display: flex;
    justify-content: center;
    border-left: 1px solid #F7F9FB;
}
.other .other-left{
    flex:3;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.other .other-right{
    flex:1;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.navigation .profile{
    flex: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    border-left: 1px solid #F7F9FB;
}
.profile .left{
    flex: 1;
    background-color:white;
}

.profile .mid{
    background-color: white;
    display: flex;
    justify-content: center;  
    flex:7;
}
.mid .sol{
    flex:2;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.mid .sağ{
    flex:6;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
}
.sağ .profilemidrighttop{
    flex:1;
    display:flex;
}
.profilemidrighttop .topleft{
    flex:2;
    display: inline-flex;
    flex-direction: column;
    justify-content:flex-end;
    font-family: 'Gotham Pro';
    font-size: 10px;
    line-height: 9px;
    text-transform: uppercase;
    padding-bottom: 5%;
    color: #181818;
}
.profilemidrighttop .topright{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    flex:1;
    font-family: 'Gotham Pro';
    font-size: 10px;
    line-height: 9px;
    text-transform: uppercase;
    padding-bottom: 5%;
    color: rgba(24, 24, 24, 0.2);
}
.sağ .profilemidrightbot{
    flex:1;
    display:flex;
}
.profilemidrightbot .botleft{
    flex:2;
    display: inline-flex;
    justify-content: center;
    font-family: 'Gotham Pro';
    font-size: 10px;
    line-height: 9px;
    padding-top: 5%;
    color: #747474;     
}
.profilemidrightbot .botright{
    flex:1;
    display: inline-flex;
    justify-content: center;
    font-family: 'Gotham Pro';
    font-size: 10px;
    line-height: 9px;
    padding-top: 5%;
    
    color: #02B033;
}
.profiledivimg{
    border: 1px solid white;
    box-shadow: 0px 10px 40px rgba(89, 120, 150, 0.06);
    border-radius: 20px; 
}
img.yuvarlak{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.profile .right{
    flex:3;
    background-color: white;
}
.navigation .logozone{
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
    background-color: #FFFFFF;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.profilepage .content{
    margin-top: 40px;
    flex: 20;
    display: flex;
}
.content-left{
    flex:1;
    background-color: lightgreen;
    margin-right: 10px;
}
.content-mid{
    flex:7;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F7F9FB;
    border: 1px solid lightcyan;
    box-shadow: 0px 10px 40px rgba(154, 176, 197, 0.06);
    border-radius: 10px;
}
.content-right{
    flex:3;
    display: inline-flex;
    flex-direction: column;
    margin-left: 10px;
}
.profilepage .footer{
    margin-top: 20px;
    flex:1;
    background-color: #c43535;
}
.items ul{
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    height: 100%;
}
.items ul li{
    flex:1;
    height: 100%;
    float: left;
}
.items ul li a {
    display: flex;
    height: 100%;
    color: #181818;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
}
.items ul li a:hover{
    background-color: #FFFFFF;
    color:#0275B1;
}
.items ul li a img{
    width: 100%;
    height: 100%;
}
.icon-question{
    color:#0275B1
}

span.name{
    font-family: 'Gotham Pro';
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    
    color: #181818;
}
span.seffaf{
    font-family: 'Gotham Pro';
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    
    color: rgba(24, 24, 24, 0.2);
}
span.todayviews{
    font-family: 'Gotham Pro';
    font-size: 12px;
    line-height: 11px;
    
    color: #747474;   
}
span.viewsup{
    font-family: 'Gotham Pro';
    font-size: 12px;
    line-height: 11px;
    
    color: #02B033;
}
.left ul{
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    height: 100%;
}
.left ul li{
    flex:1;
    height: 100%;
    float: left;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.content-right-top{
    flex:2;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
}
.content-right-bot{
    flex:1;
    background-color: seagreen;
}
.content-mid-profile{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    flex:5;
}
.content-mid-tabs{
    flex:2;
}
.content-mid-about{
    flex:2;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
}
.content-mid-projects{
    flex:4;
}
.content-mid-skills{
    flex:2;
}
.content-mid-experience{
    flex:4;
}
.content-mid-education{
    flex:2;
}
.content-mid > div{
    border: 1px solid #F7F9FB;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(89, 120, 150, 0.06);
    border-radius: 10px; 
    margin-top: 20px;
}
.content-mid-profile-img{
    flex:1;
    background-image: url("/assets/image/rectangle3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index:1;
}
.content-mid-profile-text{
    flex:1;
    display: flex;
    justify-content: center;
}
.content-mid-profile-text-pp{
    flex:2;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: flex-end;
}
.content-mid-profile-text-content{
    flex:6;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.text-content-header{
    flex:1;
    display: flex;
}
.text-content-header-namelogo{
    flex: 4;
    display: inline-flex;
    justify-content:flex-start;
    align-items: flex-end;
}
.text-content-header-adress{
    flex: 3;
    display: inline-flex;
    justify-content:center;
    align-items: flex-end;
}
.text-content-text{
    flex:1;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.text-content-button{
    flex: 1;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 13px;
}
.fill-image{
    width: 100%;
    height:100%;
    object-fit: fill;
}
.yuvarlak-200{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 10px solid #FFFFFF;
    margin-top:-100px;
    z-index:2;
}
.yuvarlak-200:hover{

}
.buttonblue {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px;
    color: #0275B1;
    padding:9px 19px;
    margin:4px 7px;
}
.buttonblue:hover{
    border: none;  
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    margin:4px 7px;
    padding: 10px 20px;
    color: white;
}

.buttonwhite {
    border: none;
    padding: 11px 13px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin:5px 5px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
    border-radius: 4px;
    font-family: 'Gotham Pro';
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    float:right;
    color: #181818;
}
.buttonwhite .icon-options-vertical{

}
.buttonwhite .icon-note{
    margin-right:10px;
}
.namelogo-icon{
    margin-left:10px;
}
.namelogo-name{
    font-size: 22px;
    line-height: 17px;
    color: #181818;
    margin-left: 20px;
    font-weight: bold;
}
.text-content-header-adress .icon-cursor{
    margin:0px 15px;
    color: #0275B1;
}
.text-content-header-adress .adress-adress{
    font-size: 14px;
    line-height: 18px;
    color: #181818;
}
.text-content-text-paragraph{
    padding:20px 20px ;
    font-family: gotham Pro;
    font-size: 18px;
    line-height: 21px;  
    color: #181818;  
    text-align: left;
}

/* tabs */

.nav-tabs .nav-link.active {
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    border-radius: 4px 4px 0px 0px;
    padding: 9px 9px;
    width: 240px ;
    height: 50px;
    text-align: center;
    color:white;
}

.nav-tabs .nav-link {
    background-color: #fff;
    color: #181818;
    border-radius: 4px 4px 0px 0px;
    padding: 9px;
    width: 240px ;
    height: 45px;
    border: 1px solid #F7F9FB;
}

.nav-tabs .nav-link:hover {
    border: 3px solid #0077B5;
    padding: 7px;
}

.nav-tabs {

}

.tab-content {
    border: 1px solid #F7F9FB;
    padding: 20px;
}
.nav-tabs{
    align-items: flex-end;
}

.p4 p{
    text-align: left;
}

/* tabs */


.content-mid-about-h4{
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align:left;
    
    margin:15px;
}
.content-mid-about-paragraph{
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align:left;
    margin: 15px;
    font-size: 14px;
    line-height: 150%;
/* or 21px */


color: #181818;
}

.content-mid-about-a{
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    color: #0275B1;
}